<configuration>

    <!-- Definizione del percorso di output per i log -->
    <property name="LOG_PATH" value="logs" />

    <!-- Definizione del modello di output per il nome del file di log -->
    <property name="LOG_FILE" value="${LOG_PATH}/mylog.log" />

    <!-- Configurazione dell'appender per salvare i log su file -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_FILE}</file>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Configurazione dell'appender per la console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Configurazione del logger di root -->
    <root level="DEBUG">
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
